In [1]:
import warnings
warnings.filterwarnings('ignore')


import pandas as pd
from utils import *

In [2]:
plot_path = './plots'
save = True
student_name = 'Margaret'

In [3]:
student_df = pd.read_csv('./Dataset/student.csv')
lecture_df = pd.read_csv('./Dataset/lecture_info.csv')

In [4]:
student_df.student_name.unique()

array(['Curtis', 'Jason', 'David', 'Justin', 'Francisco', 'Sue',
       'Tiffany', 'Jacob', 'Anita', 'Christopher', 'Jeffery', 'Christine',
       'Sherry', 'William', 'Margaret', 'Ashley', 'Gabrielle',
       'Stephanie', 'James', 'Michael', 'Shawn', 'Chelsea', 'Elizabeth',
       'Michele', 'Erika', 'Sharon', 'Michelle', 'Jenna', 'Renee', 'Luke',
       'Vickie', 'Matthew', 'Aaron', 'Kenneth', 'Robert', 'Phillip',
       'Laura', 'Melissa', 'Andrew', 'Harry', 'Douglas', 'Carlos', 'Jill',
       'Kimberly', 'Dylan', 'Rachel', 'Keith'], dtype=object)

In [ ]:
def personal_info(student_df, lecture_df, student_name, lecture=1, save=save, path=plot_path):
    # (학생 대시 보드) Lecture별 수강 시간
    plot_student_lecture_time(student_df, student_name, lecture=lecture, save=save, path=plot_path)
    # (학생 대시 보드) Lecture별 실습 오류 횟수
    plot_student_chapter_count(student_df, student_name, lecture=lecture, save=save, path=plot_path)
    ## (학생 대시 보드) skill - 전체 lecture-ch의 weight와 exam 평균점수로 계산 (scaling함)
    plot_student_proficiency_radar(student_df, lecture_df, student_name, save=save, path=plot_path)

    report_student_skill_analysis(student_df, lecture_df, student_name)

In [6]:
personal_info(student_df, lecture_df, 'Margaret', lecture=1, save=save, path=plot_path)
personal_info(student_df, lecture_df, 'Margaret', lecture=2, save=save, path=plot_path)

✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_lec_1_time.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_lec_1_incorrect_count.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_skill.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_lec_2_time.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_lec_2_incorrect_count.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Margaret_skill.html

In [7]:
personal_info(student_df, lecture_df, 'Harry', lecture=1, save=save, path=plot_path)
personal_info(student_df, lecture_df, 'Harry', lecture=2, save=save, path=plot_path)

✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_lec_1_time.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_lec_1_incorrect_count.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_skill.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_lec_2_time.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_lec_2_incorrect_count.html
✅ 그래프가 HTML로 저장되었습니다: ./plots/Harry_skill.html

In [8]:
student_df.describe()

,student_no,lecture,chapter,progress,time,count,exam1,exam2
count,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,25.500000,1.500000,3.00000,0.704900,53.628000,2.606000,67.311077,66.464417
std,14.445322,0.500501,1.41563,0.174147,20.326237,1.693665,27.920160,26.859756
min,1.000000,1.000000,1.00000,0.400000,20.000000,0.000000,0.000000,4.242388
25%,13.000000,1.000000,2.00000,0.560000,36.000000,1.000000,46.125766,43.200655
50%,25.500000,1.500000,3.00000,0.710000,54.000000,3.000000,70.396987,68.751341
75%,38.000000,2.000000,4.00000,0.860000,69.000000,4.000000,95.685857,93.541206
max,50.000000,2.000000,5.00000,1.000000,90.000000,7.000000,100.000000,100.000000

{'best_skill': {'skill': 'Dart', 'normalized_score': 59.4313835993833},
 'worst_skill': {'skill': 'Package', 'normalized_score': 54.44741480535167},
 'most_weighted_chapter_for_worst_skill': {'lecture': 2,
  'chapter': 4,
  'weight': 0.51},
 'progress_percent': 67.5}